
.section{
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    row-gap: 20px;

   
}

form{
    display: flex;
    width: 500px;
    flex-direction: column;
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
    border: 2px gray;
    box-shadow: 0px 0px 2px 8px rgba(0, 0, 0, .2);
    gap: 20px;
}

h1{
    color: rgb(93, 167, 232);
}
select,
input,
button {
    height: 40px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    padding-left: 6px;
    padding-right: 15px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="password"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

select,
input {
    background-color: #f7f3f2;
    outline: none;
    transition: all 0.8s;
}

select:focus,
input:focus {
    background-color: #ff6633;
    color: white;
    cursor: pointer;
    padding: 5px;
    transition: all 0.5s;
}

button {
    background-color: #18549f;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
}

button:hover {
    background-color: #4c81d6;
}

.error-message{
    color: red;
    text-align: center;
}

.password-invalid{
    border:2px solid red
}

.success-message {
    color: rgb(4, 248, 4);
    text-align: center;
}
