
html, body {
  height: 100%; 
  margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;

}

a {
    color:inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color:lightblue;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}